home

<html lang="en">
<head>
 <title>Bootstrap Example</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form action={% url 'calc' %}>
  <div class="radio">
<label><input type="radio" name="op" value="+" checked>+</label><br>
<label><input type="radio" name="op" value="-">-</label><br>
<label><input type="radio" name="op" value="/">/</label><br>
<label><input type="radio" name="op" value="*">*</label><br>
<input name='field1'></input>
<input name='field2'></input><br>

<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</div>
</form>
</body>
</html>